<ion-content color="bg-color">
    <ion-grid class="completa">
        <ion-row class="ion-align-items-center">
            <ion-col size="10" offset="1">
                <ion-card class="header-card">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="9">
                                <ion-card-title class="ion-text-center">
                                    <h1 class="card-header">Dog Collar</h1>
                                </ion-card-title>
                            </ion-col>
                            <ion-col size="3">
                                <img src="../../assets/dog-collar-logo.svg" alt="" width="100">
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
            <ion-col>
                <ion-card class="card">
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label position="floating">
                                            Nombre
                                        </ion-label>
                                        <ion-input type="text" [(ngModel)]="usuario.nombre"></ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label position="floating">
                                            Apellido
                                        </ion-label>
                                        <ion-input type="text" [(ngModel)]="usuario.apellido"></ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label position="floating">
                                            Correo electrónico
                                        </ion-label>
                                        <ion-input type="email" [(ngModel)]="usuario.usuario"></ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label position="floating">
                                            Contraseña
                                        </ion-label>
                                        <ion-input type="password" [(ngModel)]="usuario.contrasena"></ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label position="floating">
                                            Repetir contraseña
                                        </ion-label>
                                        <ion-input type="password" [(ngModel)]="usuario.rcontrasena"></ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-button expand="block" (click)="mostrarConsola()" color="success">
                                        Registar
                                    </ion-button>

                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="ion-text-center">
                                    <ion-router-link href="">
                                        ¿Ya tienes cuenta?
                                    </ion-router-link>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>