<ion-header>
    <ion-toolbar color="menu-color">
        <ion-grid>
            <ion-row class="ion-align-items-center">
                <ion-col size="2" offset="10">
                    <ion-button color="danger" expand="block" href="">
                        <ion-icon name="exit-outline"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>
<ion-content color="bg-color">
    <ion-grid class="completo">
        <ion-row class="ion-align-items-center">
            <ion-col size="10" offset="1">
                <ion-button class="img-btn" color="success" expand="block" size="large" href="agregar_mascota">
                    Agregar mascota &nbsp;<ion-icon name="paw-outline"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
        <hr>
        <ion-row>
            <ion-col size="12" offset="2">
                <h2>Seleccionar mascota</h2>
            </ion-col>
        </ion-row>
        <ion-card href="principal">
            <ion-row class="ion-align-items-center">
                <ion-col size="4">
                    <img src="../../assets/Aceituno.jpg" alt="" width="auto">
                    <!-- <ion-card-header>
                        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                        <ion-card-title>Card Title</ion-card-title>
                    </ion-card-header> -->
                </ion-col>
                <ion-col size="8">
                    <ion-row>
                        <ion-col size="8" offset="4">
                            <ion-card-title color="menu-color">
                                <h2>Aceituno</h2>
                            </ion-card-title>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-card>
        <ion-card href="mascota">
            <ion-row class="ion-align-items-center">
                <ion-col size="4">
                    <img src="../../assets/Tobito.PNG" alt="" width="auto">
                    <!-- <ion-card-header>
                        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                        <ion-card-title>Card Title</ion-card-title>
                    </ion-card-header> -->
                </ion-col>
                <ion-col size="8">
                    <ion-row>
                        <ion-col size="8" offset="4">
                            <ion-card-title color="menu-color">
                                <h2>Tobito</h2>
                            </ion-card-title>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-card>
        <ion-card href="principal">
            <ion-row class="ion-align-items-center">
                <ion-col size="4">
                    <img src="../../assets/Miguelo.jpg" alt="" width="auto">
                    <!-- <ion-card-header>
                        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                        <ion-card-title>Card Title</ion-card-title>
                    </ion-card-header> -->
                </ion-col>
                <ion-col size="8">
                    <ion-row>
                        <ion-col size="8" offset="4">
                            <ion-card-title color="menu-color">
                                <h2>Miguelo</h2>
                            </ion-card-title>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-grid>
</ion-content>